---
layout: default
title: Hjem
main_class: forside
---
{% assign sektioner = site.sektioner | sort: 'raekkefolge' %}
<section id="top" class="hero">
  <div class="inner">
    <h1>{{ site.data.forside.navn }}</h1>
    <p class="undertitel">{{ site.data.forside.undertitel }}</p>
  </div>
</section>

{% for s in sektioner %}
{% if s.flet_med_hero %}
<div id="{{ s.slug }}" class="intro-flet">
  <div class="inner">
    <div class="tekst">
      {{ s.content | markdownify }}
    </div>
  </div>
</div>
{% else %}
<section id="{{ s.slug }}" class="sektion{% if s.moerk %} sort{% endif %}">
  <div class="inner">
    <div class="tekst">
      <h2>{{ s.title }}</h2>
      {{ s.content | markdownify }}
    </div>
  </div>
</section>
{% endif %}
{% endfor %}
